.contactus-img{
    width: 590px;
    margin-left: 480px;
}
.contact-query{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
}
.contact-card{
    margin-top: 40px;
    background-color: rgb(252, 217, 61);
    width: 540px;
    height: 590px;
    margin-left: 470px;
}
.label-form{
    margin-top: -90px;
    margin-left: 190px;
    font-family: cursive;
    font-size: 40px;
}