.contactus-img {
  width: 590px;
  margin-left: 480px;
}
.contact-query {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
}
.contact-card {
  margin-top: 40px;
  background-color: orange;
  width: 500px;
  height: 500px;
  margin-left: 530px;
}
.label-form {
  margin-top: -90px;
  margin-left: 200px;
  font-family: cursive;
  font-size: 40px;
}
.inputs-form {
  margin-top: 20px;
}
.icons {
  width: 32px;
  font-size: 25px;
}
.btn-submit-contact-us {
  margin-left: 190px;
  width: 90px;
  height: 50px;
  background-color: rgb(22, 16, 3);
  color: white;
  border-color: rgb(22, 16, 3);
}
.btn-reset-contact-us {
  margin-left: 20px;
  width: 90px;
  height: 50px;
  background-color: rgb(6, 63, 19);
  color: white;
  border-color: rgb(6, 63, 19);
}

@media screen and (max-width: 800px) {
  .contactus-img {
    width: 350px;
    margin-left: 80px;
  }
  .contact-card {
    margin-top: 40px;
    background-color: orange;
    width: 300px;
    height: 500px;
    margin-left: 90px;
  }
  .btn-submit-contact-us {
    margin-left: 60px;
    width: 90px;
    height: 50px;
    background-color: rgb(22, 16, 3);
    color: white;
    border-color: rgb(22, 16, 3);
  }
  .icons {
    width: 32px;
    font-size: 25px;
    margin-left: -115px;
  }
}
