.photography-main-image{
    width: 600px;
    margin-left: 450px;
}
.photographycards{
    width: 500px;
    justify-content: center;


}
.dealer-service-photography{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.service-name-photography{
    font-family: cursive;
   
    text-align: center;

}
.photography-img{
    margin-left: 100px;
}
.book-now-wedding{
    margin-left: 200px;
    background-color: rgb(240, 240, 83);
    border: rgb(240, 240, 83);
    width: 90px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    
}