.card-booking-booking-hall {
  margin-top: 40px;
  background-color: rgb(181, 100, 247);
  height: 500px;
  margin-left: 450px;
  width: 550px;
}
.h1-booking {
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.date-picker-booking-hall {
  margin-top: -90px;
  margin-left: 10px;
  width: 382px;
}
.function-time-booking-hall {
  width: 540px;
}
.function-type-booking-hall {
  margin-top: -30px;
}
.num-people-booking-hall {
  margin-top: -20px;
  width: 381px;
  margin-left: 6px;
}
.book-now-btton-bookinghall {
  color: white;
  background-color: black;
  margin-left: 200px;
  margin-top: 20px;
}
.functinTime-booking-hall-labels {
  font-family: cursive;
}
@media screen and (max-width: 600px) {
  .bookinghall-image {
    width: 500px;
  }
  .card-booking {
    margin-top: 40px;
    background-color: rgb(247, 217, 84);
    width: 400px;
    height: 590px;
    margin-left: 50px;
  }
  .date-picker {
    width: 350px;
  }
  .label-date-picker {
    margin-left: 150px;
  }
  .book-now-buuton {
    margin-left: 130px;
  }
  @media all and (max-width: 200px) {
    .bookinghall-image {
      width: 500px;
    }
    .card-booking {
      margin-top: 40px;
      background-color: rgb(247, 217, 84);
      width: 400px;
      height: 590px;
      margin-left: 50px;
    }
    .date-picker {
      width: 350px;
    }
    .label-date-picker {
      margin-left: 150px;
    }
    .book-now-buuton {
      margin-left: 130px;
    }
  }
}
