.car-booking-main-image{
    width: 400px;
    height: auto;
}
.car-booking-card{
    background-color:rgb(255, 134, 134)
}
.booking-h1-main-heading{
    font-family: cursive;
    margin-left: 200px;
    font-size: 20px;
    font-weight: bold;
}
// .function-time-car{
//     width: 535px;
//     margin-top: 30px;
//     margin-left: -10px;
// }
// .num-of-people-car-booking{
//     width: 555px;
//     margin-top: -10px;
//     margin-left: -30px;

// }
.date-picker-booking-car{
    font-family: cursive;
    margin-top: 20px;
}
@media screen and (max-width: 600px) {
    .booking-h1-main-heading{
        font-family: cursive;
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    .label-date-picker{
        margin-left: 45px;

    }
    .book-now-button-food{
        margin-left: 30px;
    }
    .function-time-car{
        width: 200px;
        margin-top: 30px;
        margin-left: -5px;
    }
    .num-of-people-car-booking{
        width: 205px;
        margin-top: -10px;
        margin-left: -10px;
    
    }
}