.card-view-order-of-customer {
  margin-left: 550px;
  margin-top: 50px;
  width: 420px;
  height: 600px;
  text-align: center;
}
.heading-function-date-customer-order {
  font-family: cursive;
  font-weight: bold;
}
.viewCustomerOrder-Img {
  width: 500px;
  margin-left: 510px;
}
.view-customer-order-heading {
  text-align: center;
  font-size: 20px;
  font-family: cursive;
}
.order-status-dropdown {
  width: 200px;
  margin-left: 400px;
}
