.updated-name {
  text-align: center;
  width: 330px;
  margin-left: 670px;
}
.updated-email {
  text-align: center;
  width: 300px;
  margin-left: 700px;
}
.updated-number {
  text-align: center;
  width: 360px;
  margin-left: 640px;
}
.updated-address {
  text-align: center;
  width: 330px;
  margin-left: 680px;
}
.updated-role {
  text-align: center;
  width: 315px;
  margin-left: 700px;
}
