.wancloud-wed-head1 {
  font-family: 'Times New Roman', Times, serif;
  margin-left: 80px;
  font-size: 17px;
}
.wancloud-wed-head2 {
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px;
  font-size: 17px;
  margin-left: 80px;
}
.wancloud-wed-head3 {
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px;
  font-size: 17px;
  margin-left: 80px;
}
.wedimg {
  width: 40%;
  margin-left: 50px;
  margin-top: 40px;
}
.heading-one-weds {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: -400px;
  margin-left: -790px;
  font-family: Chalkduster, fantasy;
}

.img-one {
  width: 50%;
  margin-left: 710px;
}
.heading-two {
  margin-top: 400px;
  text-align: center;
  font-family: Chalkduster, fantasy;
  font-size: 30px;
  color: purple;
}

.text-in {
  margin-top: -78px;
  margin-left: 55%;
  font-family: Chalkduster, fantasy;
  font-size: 30px;
}
@media screen and (max-width: 800px) {
  .heading-two {
    margin-top: 400px;
    margin-left: -80px;
    text-align: center;
    font-family: Chalkduster, fantasy;
    font-size: 30px;
    color: purple;
  }
  .heading-one-weds {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-left: -10px;
    margin-top: -270px;
    font-family: Chalkduster, fantasy;
  }

  .img-one {
    width: 50%;
    margin-left: 120px;
    margin-top: 130px;
  }
  .wancloud-wed-head1 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 8px;
    font-size: 12px;
    margin-top: 290px;
  }
  .wancloud-wed-head2 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    font-size: 12px;
    margin-left: 8px;
  }
  .wancloud-wed-head3 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    font-size: 12px;
    margin-left: 8px;
  }
}
