.card-view-orders {
  width: 450px;
  height: 700px;
  margin-left: 580px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.service-category-view-customer {
  margin-left: 150px;
}
.cus-email-view-customer {
  margin-left: 130px;
}

.service-name-view-customer {
  margin-left: 120px;
}
.Function-date-Customer-order {
  margin-left: 130px;
  font-family: cursive;
  font-weight: bold;
}
.function-date-view-customer {
  margin-top: 10px;
  margin-left: 100px;
}

.function-time-view-customer {
  margin-top: -10px;
  margin-left: 160px;
}

.function-NumOfPeople-view-customer {
  margin-top: -10px;
  margin-left: 175px;
}
.customer-view-order-img {
  margin-left: 450px;
}
.customer-irder-view-heading {
  margin-left: 720px;
  font-family: cursive;
  font-weight: bold;
}
