.card-view-orders {
  width: 450px;
  height: 700px;
  margin-left: 580px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.service-category-view-customer {
  margin-left: 150px;
}
.cus-email-view-customer {
  margin-left: 130px;
}
.pay-btn-customer {
  margin-left: 130px;
  width: 90px;
  color: black;
  background-color: rgb(247, 185, 70);
  border: none;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.photography-order-customer-view {
  width: 450px;
  height: 300px;
  margin-left: 580px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.photography-type-order-price {
  margin-left: 180px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.photography-type-customer-select-email {
  margin-left: 150px;
  font-family: 'Times New Roman', Times, serif;
}
.photography-type-customer-select-price {
  margin-left: 150px;
  font-family: 'Times New Roman', Times, serif;
}
.photography-type-order-dealer-text {
  margin-left: 120px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.photography-type-customer-select {
  margin-left: 130px;
  font-family: 'Times New Roman', Times, serif;
}
.service-name-dealer-view {
  margin-top: -30px;
}
.photography-type-order {
  margin-left: 130px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.service-name-view-customer {
  margin-left: 120px;
}
.Function-date-Customer-order {
  margin-left: 130px;
  font-family: cursive;
  font-weight: bold;
}
.function-date-view-customer {
  margin-top: 10px;
  margin-left: 100px;
}

.function-time-view-customer {
  margin-top: -10px;
  margin-left: 160px;
}

.function-NumOfPeople-view-customer {
  margin-top: -10px;
  margin-left: 175px;
}
.customer-view-order-img {
  margin-left: 450px;
}
.customer-irder-view-heading {
  margin-left: 720px;
  font-family: cursive;
  font-weight: bold;
}
