.view-customer-profile {
  width: 540px;
  margin-left: -990px;
}
.view-profile-customer {
  font-family: cursive;
  font-weight: bold;
  margin-left: 650px;
  font-size: 30px;
}
.update-profile-btn {
  background-color: rgb(179, 179, 235);
  border-color: rgb(179, 179, 235);
  color: black;
}
.del-profile-btn {
  background-color: rgb(245, 84, 84);
  border-color: rgb(245, 84, 84);
  color: black;
}
.user-customer-profile-info {
  font-family: cursive;
  text-align: center;
}
.info-display {
  color: rgb(54, 54, 190);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .view-profile-customer {
    font-family: cursive;
    font-weight: bold;
    margin-left: 150px;
    font-size: 30px;
  }
  .view-customer-profile {
    width: 400px;
    margin-left: 150px;
  }
}
