.page {
  font-weight: bold;
  color: white;

  font-size: 16px;
}

.main-navbar {
  margin-left: 110px;
}
.header {
  height: 70px;
}
.logo-navbar {
  width: 90px;
  margin-left: -60px;
  background-color: unset !important;
  color: unset !important;
}
body {
  background-color: white;
}
.btn-search-btn-menu {
  background-color: unset !important;
  color: unset !important;
}
