.catering-img{
    margin-left: 370px;
    width:800px

}
.card-catering{
    width: 300px;
    
}
.dealer-services{
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.service-name-catering{
    font-family: cursive;
    text-align: center;

    

}
.book-now-catering{
    margin-left: 160px;
    background-color: rgb(94, 94, 221);
    color: white;
    border:rgb(94, 94, 221);
    width: 90px;
    height: 30px;
    cursor: pointer;
}