.saloon-image{
    margin-left: 480px;
    height: auto;
   

}

.service-name{
    margin-left: 700px;
   
    font-weight: bold;
    font-size: 30px;
   font-family: cursive;

}
.service-type-saloon{
    margin-left: 690px;
    margin-top: -20px;
   
    font-weight: bold;
    font-size: 20px;
   font-family: cursive;

}
.service-des-saloon{
    font-family: cursive;
    margin-left: 500px;

}
.service-price{
    font-family: cursive;
    margin-left: 690px;


}
.service-img{
    width: 250px;
    margin-left: 640px;
}
.book-saloon-service-btn{
    margin-top: 40px;
    margin-left: 720px;
    background-color: rgb(235, 91, 91);
    color: white;
    border: rgb(235, 91, 91);
    height: 30px;
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    .saloon-image{
        margin-left: 30px;
        width: 90%;
    
    }
    .cards-saloon-services{
        margin-left: -550px;
        width: 200%;
    }
    .service-des-saloon{
        font-family: cursive;
        margin-left: 590px;
    
    }

}