.saloon-image{
    margin-left: 480px;

}

.service-name{
    margin-left: 700px;
   
    font-weight: bold;
    font-size: 30px;
   font-family: cursive;

}
.service-type{
    margin-left: 710px;
    margin-top: -20px;
   
    font-weight: bold;
    font-size: 20px;
   font-family: cursive;

}
.service-des{
    font-family: cursive;
    margin-left: 590px;

}
.service-price{
    font-family: cursive;
    margin-left: 690px;


}
.service-img{
    width: 250px;
    margin-left: 640px;
}
.book-saloon-service-btn{
    margin-top: 40px;
    margin-left: 720px;
    background-color: rgb(235, 91, 91);
    color: white;
    border: rgb(235, 91, 91);
    height: 30px;
}
