$clr: black;
$move: 550px;
$leftImg: 730px;
$leftLink: 750px;
.dealer-main-page-img {
  width: 800px;
  margin-left: 350px;
  margin-top: -170px;
}
.view-profile-dealer-main-page {
  width: 80px;
  margin-top: 600px;
  margin-left: -600px;
}
.Link-to-profile-page {
  margin-left: $move;
  margin-top: 30px;
  color: $clr;
}
.update-profile-dealer {
  margin-left: $leftImg;
  margin-top: -260px;
}
.link-to-update-profile {
  margin-left: $leftLink;
  margin-top: -60px;
  color: $clr;
}
.add-services-dealer-page {
  width: 110px;
  margin-left: 920px;
  margin-top: -290px;
}
.Link-to-add-services-page {
  color: $clr;
  margin-left: 945px;
  margin-top: -60px;
}
.Link-to-view-services-page {
  margin-left: 670px;
  margin-top: 40px;
  color: $clr;
}
.view-services-dealer {
  width: 110px;
  margin-left: 650px;
  margin-top: 40px;
}
.orderviewimg {
  width: 110px;
  margin-left: 840px;
  margin-top: -250px;
}
.link-to-dealers-order {
  color: $clr;
  margin-left: 850px;
  margin-top: -60px;
}
.updateServiceimg {
  width: 110px;
  margin-left: 730px;
  margin-top: -240px;
}
.update-services-link {
  color: $clr;
  margin-left: 730px;
  margin-top: -56px;
}
@media screen and (max-width: 600px) {
  .dealer-main-page-img {
    width: 400px;
    margin-left: 50px;
    margin-top: -290px;
  }
  .view-profile-dealer-main-page {
    width: 80px;
    margin-top: 450px;
    margin-left: -350px;
  }
  .Link-to-profile-page {
    margin-left: 105px;
    margin-top: 30px;
    color: $clr;
  }
  .update-profile-dealer {
    margin-left: 230px;
    margin-top: -260px;
  }
  .link-to-update-profile {
    margin-left: 240px;
    margin-top: -60px;
    color: $clr;
  }
  .add-services-dealer-page {
    width: 110px;
    margin-left: 380px;
    margin-top: -290px;
  }
  .Link-to-add-services-page {
    color: $clr;
    margin-left: 380px;
    margin-top: -60px;
  }
  .Link-to-view-services-page {
    margin-left: 105px;
    margin-top: 40px;
    color: $clr;
  }
  .view-services-dealer {
    width: 110px;
    margin-left: 100px;
    margin-top: 40px;
  }
  .updateServiceimg {
    width: 90px;
    margin-left: 250px;
    margin-top: -290px;
  }
  .update-services-link {
    color: $clr;
    margin-left: 240px;
    margin-top: -55px;
  }
  .orderviewimg {
    width: 110px;
    margin-left: 390px;
    margin-top: -250px;
  }
  .link-to-dealers-order {
    color: $clr;
    margin-left: 390px;
    margin-top: -72spx;
  }
  @media only screen and (min-width: 600px) {
    .dealer-main-page-img {
      width: 400px;
      margin-left: 50px;
      margin-top: -290px;
    }
    .view-profile-dealer-main-page {
      width: 80px;
      margin-top: 450px;
      margin-left: -350px;
    }
    .Link-to-profile-page {
      margin-left: 105px;
      margin-top: 30px;
      color: $clr;
    }
    .update-profile-dealer {
      margin-left: 230px;
      margin-top: -260px;
    }
    .link-to-update-profile {
      margin-left: 240px;
      margin-top: -60px;
      color: $clr;
    }
    .add-services-dealer-page {
      width: 110px;
      margin-left: 380px;
      margin-top: -290px;
    }
    .Link-to-add-services-page {
      color: $clr;
      margin-left: 380px;
      margin-top: -60px;
    }
    .Link-to-view-services-page {
      margin-left: 105px;
      margin-top: 40px;
      color: $clr;
    }
    .view-services-dealer {
      width: 110px;
      margin-left: 100px;
      margin-top: 40px;
    }
    .updateServiceimg {
      width: 90px;
      margin-left: 250px;
      margin-top: -290px;
    }
    .update-services-link {
      color: $clr;
      margin-left: 240px;
      margin-top: -55px;
    }
    .orderviewimg {
      width: 110px;
      margin-left: 390px;
      margin-top: -250px;
    }
    .link-to-dealers-order {
      color: $clr;
      margin-left: 390px;
      margin-top: -72px;
    }
  }
  @media only screen and (min-width: 768px) {
    .dealer-main-page-img {
      width: 400px;
      margin-left: 50px;
      margin-top: -290px;
    }
    .view-profile-dealer-main-page {
      width: 80px;
      margin-top: 450px;
      margin-left: -350px;
    }
    .Link-to-profile-page {
      margin-left: 105px;
      margin-top: 30px;
      color: $clr;
    }
    .update-profile-dealer {
      margin-left: 230px;
      margin-top: -260px;
    }
    .link-to-update-profile {
      margin-left: 240px;
      margin-top: -60px;
      color: $clr;
    }
    .add-services-dealer-page {
      width: 110px;
      margin-left: 380px;
      margin-top: -290px;
    }
    .Link-to-add-services-page {
      color: $clr;
      margin-left: 380px;
      margin-top: -60px;
    }
    .Link-to-view-services-page {
      margin-left: 105px;
      margin-top: 40px;
      color: $clr;
    }
    .view-services-dealer {
      width: 110px;
      margin-left: 100px;
      margin-top: 40px;
    }
    .updateServiceimg {
      width: 90px;
      margin-left: 250px;
      margin-top: -290px;
    }
    .update-services-link {
      color: $clr;
      margin-left: 240px;
      margin-top: -55px;
    }
    .orderviewimg {
      width: 110px;
      margin-left: 390px;
      margin-top: -250px;
    }
    .link-to-dealers-order {
      color: $clr;
      margin-left: 390px;
      margin-top: -72spx;
    }
  }
}
