.card-edit-elements {
  margin-top: 380px;
  margin-left: 300px;
}
.card2 {
  width: 200px;
  margin-left: 600px;
}
.solid {
  text-align: center;
  margin-left: 720px;
}
.bride-name-card {
  font-weight: bold;
  text-align: center;
}
.card-fileds-edit {
  margin-top: -90px;
  text-align: center;
}
.venue-on-card {
  text-align: center;
  margin-left: 710px;
}
.event-on-card {
  text-align: center;
  margin-left: 725px;
  margin-top: -10px;
}
