.card-edit-elements {
 margin-left:30px;
 
}
.card-elements-styling {
  width:400px;
  font-size:30px;
 
}
.card-heading-for-field-editing{
  margin-left:320px;
  margin-top:-20px;
  font-size:20px;
  font-family:times new roman;
  font-weight:bold
}
.card2 {
  width: 200px;
  margin-left: 600px;
}
.solid {
  text-align: center;
  margin-left: 720px;
}
.bride-name-card {
  font-weight: bold;
  text-align: center;
}
.card-fileds-edit {
  margin-top: -90px;
  text-align: center;
}
.venue-on-card {
  text-align: center;
  margin-left: 710px;
}
.event-on-card {
  text-align: center;
  margin-left: 725px;
  margin-top: -10px;
}
.form-card-design-fields {
  margin-top: -307px;
  margin-left: 100px;
}
