.btn-color-change-custom-hook {
  margin-left: 220px;
}
.about-us-img {
  margin-left: 450px;
}

.first-heading-about-us {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.second-heading-about-us {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
.description-about-us {
  text-align: center;
}
.btn-color-change-custom-hook {
  border: 'none';
  background-color: 'black';
  color: 'white';
  margin-left: '450px';
}
.bgg {
  width: '205vh';
  height: '200vh';
}
