.btn-color-change-custom-hook {
  margin-left: 220px;
}
.about-us-img {
  margin-left: 450px;
}

.first-heading-about-us {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.second-heading-about-us {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
.description-about-us {
  text-align: center;
}
.btn-color-change-custom-hook {
  border: 'none';
  background-color: 'black';
  color: 'white';
  margin-left: '450px';
}
.bgg {
  width: '205vh';
  height: '200vh';
}
@media screen and (max-width: 800px) {
  .about-us-img {
    width: 30%;
    margin-left: 20px;
    margin-top: 130px;
  }
  .first-heading-about-us {
    margin-left: -1020px;
  }
  .second-heading-about-us {
    margin-left: -1000px;
  }
  .description-about-us {
    font-size: 12px;
    word-wrap: break-word;
    overflow: hidden;
    inline-size: 150px;
    margin-left: 190px;
  }
}
