.about-us-img {
  margin-left: 450px;
}

.first-heading-about-us {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.second-heading-about-us {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
.description-about-us {
  text-align: center;
}
